.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(48, 46, 46);
    opacity: 0.7;
}

.hero-image {
    height: 65vh;
    object-fit: cover;
}